main, menu, ul {
    margin: 0;
    padding: 0;
}

main, menu {
    float: left;
}

.pointer {
    cursor: pointer;
}

.list-no-bullet {
    list-style: none;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-list-items-center {
    > li {
        @extend .flex-items-center;
    }
}

.material-icons {
    padding-right: 10px;
}

menu {
    box-sizing: border-box;
    width: 200px;

    ul > li {
        padding: 15px 25px;
        @extend .pointer;
    }
}

#logo, #sign, header {
    padding: 15px 25px;
}

// main {
//     width: 100%;
// }

.job-list {
    > div {
        padding: 15px;
        width: 20%;

        > div {
            border-radius: 3px;
            border: 1px solid lightgrey;

            h4 {
                margin: 0 0 15px;
            }
        }
    }
}

.vendor-logo {
    height: 35px;
}